<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>北京</key>
		<dict>
			<key>0</key>
			<dict>
				<key>北京</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>天津</key>
		<dict>
			<key>0</key>
			<dict>
				<key>天津</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>上海</key>
		<dict>
			<key>0</key>
			<dict>
				<key>上海</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>重庆</key>
		<dict>
			<key>0</key>
			<dict>
				<key>重庆</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>河北省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>石家庄</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>唐山</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>秦皇岛</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>邯郸</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>邢台</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>保定</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>张家口</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>承德</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>沧州</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>廊坊</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>衡水</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>山西省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>太原</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>大同</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>阳泉</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>长治</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>晋城</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>朔州</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>晋中</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>运城</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>忻州</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>临汾</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>吕梁</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>内蒙古自治区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>呼和浩特</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>包头</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>乌海</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>赤峰</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>通辽</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>鄂尔多斯</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>呼伦贝尔</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>巴彦淖尔</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>乌兰察布</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>兴安盟</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>锡林郭勒盟</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>阿拉善盟</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>7</key>
	<dict>
		<key>辽宁省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>沈阳</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>大连</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>鞍山</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>抚顺</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>本溪</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>丹东</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>锦州</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>营口</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>阜新</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>辽阳</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>盘锦</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>铁岭</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>朝阳</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>葫芦岛</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>吉林省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>长春</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>吉林</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>四平</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>辽源</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>通化</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>白山</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>松原</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>白城</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>延边朝鲜族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>9</key>
	<dict>
		<key>黑龙江省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>哈尔滨</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>齐齐哈尔</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>鸡西</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>鹤岗</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>双鸭山</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>大庆</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>伊春</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>佳木斯</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>七台河</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>牡丹江</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>黑河</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>绥化</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>大兴安岭地区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>江苏省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>南京</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>无锡</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>徐州</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>常州</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>苏州</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>南通</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>连云港</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>淮安</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>盐城</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>扬州</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>镇江</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>泰州</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>宿迁</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>浙江省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>杭州</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>宁波</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>温州</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>嘉兴</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>湖州</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>绍兴</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>金华</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>衢州</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>舟山</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>台州</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>丽水</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>安徽省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>合肥</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>芜湖</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>蚌埠</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>淮南</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>马鞍山</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>淮北</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>铜陵</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>安庆</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>黄山</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>滁州</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>阜阳</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>宿州</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>巢湖</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>六安</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>亳州</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>池州</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>宣城</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>13</key>
	<dict>
		<key>福建省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>福州</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>厦门</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>莆田</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>三明</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>泉州</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>漳州</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>南平</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>龙岩</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>宁德</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>14</key>
	<dict>
		<key>江西省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>南昌</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>景德镇</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>萍乡</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>九江</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>新余</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>鹰潭</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>赣州</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>吉安</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>宜春</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>抚州</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>上饶</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>15</key>
	<dict>
		<key>山东省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>济南</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>青岛</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>淄博</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>枣庄</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>东营</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>烟台</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>潍坊</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>济宁</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>泰安</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>威海</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>日照</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>莱芜</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>临沂</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>德州</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>聊城</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>滨州</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>菏泽</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>16</key>
	<dict>
		<key>河南省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>郑州</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>开封</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>洛阳</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>平顶山</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>安阳</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>鹤壁</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>新乡</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>焦作</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>濮阳</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>许昌</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>漯河</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>三门峡</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>南阳</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>商丘</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>信阳</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>周口</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>驻马店</key>
				<string></string>
			</dict>
			<key>17</key>
			<dict>
				<key>济源</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>17</key>
	<dict>
		<key>湖北省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>武汉</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>黄石</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>十堰</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>宜昌</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>襄樊</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>鄂州</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>荆门</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>孝感</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>荆州</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>黄冈</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>咸宁</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>随州</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>恩施土家族苗族自治州</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>仙桃</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>潜江</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>天门</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>神农架林区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>18</key>
	<dict>
		<key>湖南省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>长沙</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>株洲</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>湘潭</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>衡阳</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>邵阳</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>岳阳</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>常德</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>张家界</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>益阳</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>郴州</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>永州</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>怀化</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>娄底</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>湘西土家族苗族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>19</key>
	<dict>
		<key>广东省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>广州</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>韶关</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>深圳</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>珠海</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>汕头</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>佛山</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>江门</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>湛江</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>茂名</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>肇庆</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>惠州</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>梅州</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>汕尾</key>
				<array>
					<string>城区</string>
					<string>海丰县</string>
					<string>陆河县</string>
					<string>陆丰</string>
				</array>
			</dict>
			<key>13</key>
			<dict>
				<key>河源</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>阳江</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>清远</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>东莞</key>
				<string></string>
			</dict>
			<key>17</key>
			<dict>
				<key>中山</key>
				<string></string>
			</dict>
			<key>18</key>
			<dict>
				<key>潮州</key>
				<string></string>
			</dict>
			<key>19</key>
			<dict>
				<key>揭阳</key>
				<string></string>
			</dict>
			<key>20</key>
			<dict>
				<key>云浮</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>20</key>
	<dict>
		<key>广西壮族自治区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>南宁</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>柳州</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>桂林</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>梧州</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>北海</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>防城港</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>钦州</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>贵港</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>玉林</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>百色</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>贺州</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>河池</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>来宾</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>崇左</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>21</key>
	<dict>
		<key>海南省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>海口</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>三亚</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>五指山</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>儋州</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>文昌</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>万宁</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>东方</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>定安县</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>屯昌县</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>澄迈县</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>临高县</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>白沙黎族自治县</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>昌江黎族自治县</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>乐东黎族自治县</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>陵水黎族自治县</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>保亭黎族苗族自治县</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>琼中黎族苗族自治县</key>
				<string></string>
			</dict>
			<key>17</key>
			<dict>
				<key>西沙群岛</key>
				<string></string>
			</dict>
			<key>18</key>
			<dict>
				<key>南沙群岛</key>
				<string></string>
			</dict>
			<key>19</key>
			<dict>
				<key>中沙群岛的岛礁及其海域</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>22</key>
	<dict>
		<key>四川省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>成都</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>自贡</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>攀枝花</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>泸州</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>德阳</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>绵阳</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>广元</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>遂宁</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>内江</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>乐山</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>南充</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>眉山</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>宜宾</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>广安</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>达州</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>雅安</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>巴中</key>
				<string></string>
			</dict>
			<key>17</key>
			<dict>
				<key>资阳</key>
				<string></string>
			</dict>
			<key>18</key>
			<dict>
				<key>阿坝藏族羌族自治州</key>
				<string></string>
			</dict>
			<key>19</key>
			<dict>
				<key>甘孜藏族自治州</key>
				<string></string>
			</dict>
			<key>20</key>
			<dict>
				<key>凉山彝族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>23</key>
	<dict>
		<key>贵州省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>贵阳</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>六盘水</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>遵义</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>安顺</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>铜仁地区</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>黔西南布依族苗族自治州</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>毕节地区</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>黔东南苗族侗族自治州</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>黔南布依族苗族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>24</key>
	<dict>
		<key>云南省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>昆明</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>曲靖</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>玉溪</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>保山</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>昭通</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>丽江</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>普洱</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>临沧</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>楚雄彝族自治州</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>红河哈尼族彝族自治州</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>文山壮族苗族自治州</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>西双版纳傣族自治州</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>大理白族自治州</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>德宏傣族景颇族自治州</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>怒江傈僳族自治州</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>迪庆藏族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>25</key>
	<dict>
		<key>西藏自治区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>拉萨</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>昌都地区</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>山南地区</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>日喀则地区</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>那曲地区</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>阿里地区</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>林芝地区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>26</key>
	<dict>
		<key>陕西省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>西安</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>铜川</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>宝鸡</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>咸阳</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>渭南</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>延安</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>汉中</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>榆林</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>安康</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>白河县</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>27</key>
	<dict>
		<key>甘肃省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>兰州</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>嘉峪关</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>金昌</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>白银</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>天水</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>武威</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>张掖</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>平凉</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>酒泉</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>庆阳</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>定西</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>陇南</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>临夏回族自治州</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>甘南藏族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>28</key>
	<dict>
		<key>青海省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>西宁</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>海东地区</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>海北藏族自治州</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>黄南藏族自治州</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>果洛藏族自治州</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>玉树藏族自治州</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>海西蒙古族藏族自治州</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>29</key>
	<dict>
		<key>宁夏回族自治区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>银川</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>石嘴山</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>吴忠</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>固原</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>中卫</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>30</key>
	<dict>
		<key>新疆维吾尔自治区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>乌鲁木齐</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>克拉玛依</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>吐鲁番地区</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>哈密地区</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>昌吉回族自治州</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>博尔塔拉蒙古自治州</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>巴音郭楞蒙古自治州</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>阿克苏地区</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>克孜勒苏柯尔克孜自治州</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>喀什地区</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>和田地区</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>伊犁哈萨克自治州</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>塔城地区</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>阿勒泰地区</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>石河子</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>阿拉尔</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>图木舒克</key>
				<string></string>
			</dict>
			<key>17</key>
			<dict>
				<key>五家渠</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>31</key>
	<dict>
		<key>台湾省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>台北</key>
				<string></string>
			</dict>
			<key>1</key>
			<dict>
				<key>高雄</key>
				<string></string>
			</dict>
			<key>2</key>
			<dict>
				<key>基隆</key>
				<string></string>
			</dict>
			<key>3</key>
			<dict>
				<key>新竹</key>
				<string></string>
			</dict>
			<key>4</key>
			<dict>
				<key>台中</key>
				<string></string>
			</dict>
			<key>5</key>
			<dict>
				<key>嘉义</key>
				<string></string>
			</dict>
			<key>6</key>
			<dict>
				<key>台北县</key>
				<string></string>
			</dict>
			<key>7</key>
			<dict>
				<key>宜兰县</key>
				<string></string>
			</dict>
			<key>8</key>
			<dict>
				<key>桃园县</key>
				<string></string>
			</dict>
			<key>9</key>
			<dict>
				<key>新竹县</key>
				<string></string>
			</dict>
			<key>10</key>
			<dict>
				<key>苗栗县</key>
				<string></string>
			</dict>
			<key>11</key>
			<dict>
				<key>台中县</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>彰化县</key>
				<string></string>
			</dict>
			<key>13</key>
			<dict>
				<key>南投县</key>
				<string></string>
			</dict>
			<key>14</key>
			<dict>
				<key>云林县</key>
				<string></string>
			</dict>
			<key>15</key>
			<dict>
				<key>嘉义县</key>
				<string></string>
			</dict>
			<key>16</key>
			<dict>
				<key>台南县</key>
				<string></string>
			</dict>
			<key>17</key>
			<dict>
				<key>高雄县</key>
				<string></string>
			</dict>
			<key>18</key>
			<dict>
				<key>屏东县</key>
				<string></string>
			</dict>
			<key>19</key>
			<dict>
				<key>台东县</key>
				<string></string>
			</dict>
			<key>20</key>
			<dict>
				<key>花莲县</key>
				<string></string>
			</dict>
			<key>21</key>
			<dict>
				<key>澎湖县</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>32</key>
	<dict>
		<key>香港特别行政区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>香港特别行政区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>33</key>
	<dict>
		<key>澳门特别行政区</key>
		<dict>
			<key>0</key>
			<dict>
				<key>澳门特别行政区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
